ol, ul {
    list-style: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}
q, blockquote {
    quotes: none
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none
}
a img {
    border: none
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block
}
.mobile-touch-overflow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    overflow-scrolling: touch
}
.mobile-touch-overflow, .mobile-touch-overflow * {
    -webkit-transform: rotateY(0)
}
h1 {
    margin: 0 0 0 0;
    margin-top: 30px;
    color: #000;
    font-weight: 300;
    font-size: 1.6em;
    font-family: "Dosis", sans-serif;
    line-height: 1.2em
}
h2 {
    margin: 0 0 10px 0;
    color: #000;
    font-weight: 300;
    font-size: 1.4em;
    font-family: "Dosis", sans-serif;
    line-height: 1.2em;
    text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.7)
}
h3 {
    margin: 0 0 15px 0;
    font-family: "Dosis", sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 300;
    color: #000
}
h5 {
    margin: 0 0 0 0;
    font-family: "Dosis", sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 300;
    color: #000;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6
}
p, .row li {
    font-family: "Dosis", sans-serif;
    font-size: 1.2em;
    line-height: 1.6em;
    font-weight: 300;
    color: #000;
}
.additional p {
    color: #999999;
}
p strong, .row li strong {
    font-weight: 400;
    color: #ee8a1d
}
p a, .row li a {
    color: #000;
    text-decoration: none;
    transition: color 0.3;
    font-family: "Dosis", sans-serif;
    font-weight: 500;
}
.subheading {
    margin-top: 0;
    color: #888;
    line-height: 1.4em;
}
html, html a {
    -webkit-font-smoothing: antialiased !important;
}
a {
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    color: #000;
}
a:hover {
    text-decoration: none;
}
body {
    width: 100%;
    font-size: 13px;
    overflow-x: hidden;
    background-color: #F1F1F1;
}
.btn:hover, .btn:focus, .btn:active, .btn.active {
    color: white;
    background-color: #E5B700;
    border-color: #E5B700;
    outline: none !important;
}
.form-control::-moz-placeholder {
    color: #000;
    opacity: 1;
    font-weight: 500;
}
.form-control:-ms-input-placeholder {
    color: #000;
    font-weight: 500;
}
.form-control::-webkit-input-placeholder {
    color: #000;
    font-weight: 500;
}
.col-heading {
    color: #fff;
    position: relative;
    display: block;
}
.col-heading h1 {
    text-transform: uppercase;
    display: block;
    font-size: 2em;
    color: #000;
}
.col-heading p {
    display: block;
    color: #FFF;
}
.content-wrapper {
    display: block;
    min-height: 100%;
}
.bg-section {
    background-image: url(../img/def-cover-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
img.bg-cover {
    /* Set rules to fill background */
    
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    
    width: 100%;
    height: auto;
    /* Set up positioning */
    
    position: fixed;
    top: 0;
    left: 0;
}
.homepage > img.bg-cover {
    /* Set rules to fill background */
    
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    
    width: 100%;
    height: auto;
    /* Set up positioning */
    
    position: relative;
    top: 0;
    left: 0;
}
.cover-shield {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.col-cover {
    padding: 20px 0 30px;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    position: relative;
    display: block;
    background-image: url(../img/cover-bg.jpg);
    min-height: 100px;
}
.section-content {
    position: relative;
    display: block;
    width: 100%;
    float: left;
}
/*Your Theme Style*/

#nav ul.nav {
    position: relative;
    display: block;
    text-align: left;
    float: left;
    width: 100%;
}
.nav-primary {
    margin-bottom: 1px;
}
.nav-primary:before, .nav-primary:after {
    display: table;
    content: " ";
}
.nav-primary:after {
    clear: both;
}
.nav-primary {
    background-color: #fff;
}
.nav-primary li {
    line-height: 1.5
}
.nav-primary li li a {
    padding: 5px 15px;
}
.nav-primary li a i {
    margin-right: 0.5em
}
.nav-primary>ul>li>a {
    color: #000;
    border-bottom: 1px solid #2a3b4c;
    padding: 10px 10px;
    position: relative;
    font-weight: 600
}
.nav-primary>ul>li>a:hover {
    color: #CAA300;
}
.nav-primary>ul>li>.dropdown-menu {
    margin-left: 0;
    border-radius: 0
}
.nav-primary>ul>.dropdown-submenu:hover>a, .nav-primary>ul>.dropdown-submenu:focus>a, .nav-primary>ul>li>a:hover, .nav-primary>ul>li>a:focus, .nav-primary>ul>li>a:active, .nav-primary>ul>li.active>a {
    color: #000;
    background: url('../img/bg-menu-hover.png') repeat-x bottom center transparent;
    transition: color .3s ease-in-out 0s;
}
.nav-primary>ul>li.active>a {
    border: none;
    color: #CAA300;
}
.nav-primary .navbar-brand {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    display: block;
    height: auto;
}
.nav-primary .logo-wrapper {
    width: 100%;
    position: relative;
    display: block;
    height: auto;
    text-align: center;
    padding: 0 60px;
}
.nav-primary .logo-wrapper img {
    text-align: center;
    float: none;
    display: block;
    position: relative;
    margin: 0 auto
}
.nav-primary .logo-bottom {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    float: left;
}
.nav-primary .logo-bottom .overfloat {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.nav-primary>ul>.dropdown-submenu>a:after {
    display: none
}
.nav-primary.bg-light>ul>li>a {
    border-bottom-color: #d0d4d8;
    color: #6e7e8e;
}
.nav-primary.bg-light>ul>.dropdown-submenu:hover>a, .nav-primary.bg-light>ul>.dropdown-submenu:focus>a, .nav-primary.bg-light>ul>li>a:hover, .nav-primary.bg-light>ul>li>a:focus, .nav-primary.bg-light>ul>li>a:active, .nav-primary.bg-light>ul>li.active>a {
    color: #3d4d5d
}
.no-line {
    border-width: 0
}
.no-border {
    border-color: transparent !important;
}
.no-radius {
    border-radius: 0
}
.block {
    display: block;
    margin-bottom: 10px
}
.block .block-wrapper a {
    display: block;
    position: relative;
    padding: 10px 0;
}
.block .block-wrapper a:hover {
    background: #CAA300;
    color: #fff;
}
.room-block .block-wrapper .thumbnail {
    border: none;
    box-shadow: none;
    padding: 0;
}
.block.hide {
    display: none
}
.inline, .inline-desktop {
    display: inline-block
}
.pull-right-desktop {
    float: right;
}
.pull-none {
    float: none
}
.clear {
    clear: both
}
.line-v {
    border-left: 1px solid #dddddd;
    padding-left: 20px
}
.line-v-right {
    border-right: 1px solid #dddddd;
    padding-right: 20px;
}
.wrapper {
    padding: 2px;
    background-color: #fff;
    border: 1px solid #ddd
}
.w-link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0
}
.btn-s-mini {
    min-width: 90px
}
.btn-s-small {
    min-width: 100px
}
.btn-s-medium {
    min-width: 120px
}
.btn-s-large {
    min-width: 150px
}
.btn-s-xlarge {
    min-width: 200px
}
.btn-s-xxlarge {
    min-width: 300px
}
.btn-padder {
    padding-left: 40px;
    padding-right: 40px
}
.l-h-2x {
    line-height: 2em;
}
.text-small {
    font-size: 12px;
}
.text-mini {
    font-size: 10px;
}
.padder {
    padding: 0 15px;
}
.padder-v {
    padding-top: 15px;
    padding-bottom: 15px;
}
.no-padder {
    padding: 0 !important;
}
.mgr-one {
    margin: 1px 0;
}
.pull-in {
    margin-left: -15px;
    margin-right: -15px;
}
.pull-out {
    margin: -15px;
}
.col-white {
    background: #fff;
    color: #000;
}
#col-vertical .head-block {
    float: left;
    width: 100%;
    margin: 1px 0;
}
#col-vertical .nav-block {
    padding-right: 1px;
    padding-left: 0;
    margin-bottom: 1px;
    margin-top: 1px;
}
#col-vertical .nav-block:nth-of-type(odd) {
    padding-right: 1px;
    padding-left: 1px;
}
#col-vertical .nav-block:nth-of-type(even) {
    padding-left: 1px;
    padding-right: 1px;
}
#col-vertical .nav-block span.icon {
    position: relative;
    display: block;
    text-align: center;
}
#col-vertical .nav-block span.i_text {
    position: relative;
    display: block;
    text-align: center;
    font-weight: 700;
}
.space-blocks {
    display: block;
    position: relative;
    margin-top: 1px;
    min-height: 100px;
    width: 100%;
    float: left;
}
.space-blocks .block-abs {
    background-color: #FFF;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.fix-pos {
    position: relative;
    display: block;
    margin-left: 230px;
}
/*Homepage Caption*/

.home-caption {
    position: absolute;
    left: 25%;
    right: 20%;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.content-wrapper .home-caption {
    background: transparent;
    text-shadow: none;
    bottom: 40px;
    text-align: left;
    padding: 0 50px;
}
.content-wrapper .home-caption h1 {
    margin: 20px 0 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
.content-wrapper .home-caption p {
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1.5px;
}
.packages {
    margin-top: 20px;
}
.package-post-detail {
    background-color: #FFF;
    padding: 20px 20px 40px;
    color: #000;
    position: relative;
}
.package-post-detail:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 20px;
    border-color: transparent transparent #ffffff transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #ffffff #000000;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
    content: "";
    position: absolute;
    top: -20px;
    left: 42.5%;
    right: 42.5%;
}
.package-post-detail h2 {
    color: #000;
    font-size: 1.5em;
    letter-spacing: 0.09em;
}
.package-post-detail p {
    color: #000;
    font-family: "Dosis", sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 0.09em;
}
.package-post-detail .read-more {
    font-family: 'Dosis', sans-serif;
    letter-spacing: 0.11em;
    position: absolute;
    bottom: 10px;
    left: 25px;
}
.package-post-detail .read-more a {
    color: #2ECD71;
}
.post-detail {
    color: #FFF;
    display: block;
    position: relative;
}
.post-detail p {
    color: #FFF;
    font-weight: 500;
    letter-spacing: 0.1em;
}
.menu-rhomb-holder {
    margin: 150px 0;
    z-index: 20;
}
.menu-rhomb-holder .first-level, .menu-rhomb-holder .second-level, .menu-rhomb-holder .third-leve {
    display: block;
}
.rhomb {
    box-sizing: content-box;
    width: 60px;
    height: 60px;
    margin: 3px 0 0 30px;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: #fff;
    text-indent: 10px;
    -o-text-overflow: clip;
    text-overflow: clip;
    word-spacing: 11px;
    background: rgba(86, 214, 140, .8);
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    -webkit-transform-origin: 0 100% 0deg;
    overflow: hidden;
    display: inline-block;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    margin: -8px 14px;
    -webkit-border-radius: 5px;
    -webkit-border-top-left-radius: 1px;
    -moz-border-radius: 5px;
    -moz-border-radius-topleft: 1px;
    border-radius: 5px;
    border-top-left-radius: 1px;
}
.rhomb:hover {
    background: rgba(86, 214, 140, 1);
}
.rhomb_info {
    height: 50px;
    text-align: center;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    vertical-align: middle;
    width: 80px;
    display: table-cell;
    font-family: 'Comfortaa', sans-serif;
}
.in-menu {
    display: block;
    position: relative;
    background: url('../img/menu-center-list.png') no-repeat center top;
    width: 70px;
    height: 70px;
}
/*List Quotes*/

.list-quote {
    background: none repeat scroll 0 0 #fff;
    display: block;
    float: left;
    position: relative;
    padding: 20px;
}
.list-quote .thumber {
    position: relative;
    display: block;
    text-align: center;
}
.list-quote .thumber .rhomb-img {
    box-sizing: content-box;
    width: 60px;
    height: 60px;
    margin: 3px 0 0 30px;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: #fff;
    text-indent: 10px;
    -o-text-overflow: clip;
    text-overflow: clip;
    word-spacing: 11px;
    background: rgba(86, 214, 140, .8);
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    -webkit-transform-origin: 0 100% 0deg;
    overflow: hidden;
    display: inline-block;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
}
.list-quote .thumber .rhomb-img img {
    text-align: center;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    vertical-align: middle;
    margin-left: -43px;
    margin-top: -16px;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
}
.list-quote .post-review {
    position: relative;
    display: block;
}
.list-quote .post-review p {
    color: #000;
    letter-spacing: 0.05em;
    font-size: 1.2em;
    font-weight: 500;
}
.list-quote .post-review h2 {
    color: #000;
    font-weight: 500;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
}
.list-quote .post-review h3 {
    color: #000;
    font-weight: 500;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}
/*Carousel*/

.carousel-nav .carousel-next {
    position: absolute;
    z-index: 200;
    right: 10px;
    top: -40px;
    background-color: #FFFFFF;
    text-align: center;
    color: #919191;
    vertical-align: middle;
    padding: 0 7px;
    font-size: 1.7em;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    line-height: 1.3em;
}
.carousel-nav .carousel-prev {
    padding: 0 7px;
    position: absolute;
    z-index: 200;
    right: 35px;
    top: -40px;
    background-color: #FFFFFF;
    text-align: center;
    color: #919191;
    font-size: 1.7em;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    line-height: 1.3em;
}
.wrap-single-carousel .carousel-nav .carousel-prev {
    top: auto;
    bottom: -15px;
    right: 52.5%;
}
.wrap-single-carousel .carousel-nav .carousel-next {
    top: auto;
    bottom: -15px;
    right: 49.5%;
}
/*Modal*/

.modal-dialog {
    width: 100%;
}
/*Footer*/

#footer {
    position: absolute;
    display: block;
    bottom: 0px;
    z-index: 10;
    width: 100%;
}
footer .footer-content {
    font-size: .8em;
    color: #000;
    width: 100%;
}
footer .footer-content p.copyright {
    color: #000;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-top: 10px;
    margin-bottom: 5px;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}
/*LightBox*/
.lb-outerContainer{
    -webkit-border-radius: 0;
                border-radius: 0;    
}
.lb-container{
    padding: 20px;
}
.lightbox .lb-image {
    -webkit-border-radius: 0;
            border-radius: 0;
}
.lb-dataContainer{
    background-color: #FFF;
    color: #000;
    -webkit-border-radius: 0;
            border-radius: 0;
}
.lb-data{
    padding: 0 20px;
}
.lb-data .lb-details{
    color: #000;
}
/*Rooms*/
/*List Rooms*/

.room-block {
    position: relative;
    display: block;
    margin-bottom: 10px;
}
.room-block .block-wrapper {
    position: relative;
    display: block;
    border-bottom: thin solid #7E7E7E;
    float: left;
    margin-right: 50px;
}
.room-block .price {
    display: block;
    position: relative;
    padding: 0;
}
.room-block .price .text-price, .col-price h5 {
    display: block;
    position: relative;
    margin-bottom: 20px;
    font-family: 'VerdanaRegular', sans-serif;
    font-size: 1.2em;
    color: #C8A200 !important;
}
.room-block .price .txt-p {
    font-size: 1em;
    font-weight: 500;
    color: #000;
}
.room-block .price .text-price, {
    font-size: 1.3em;
    font-weight: 500;
    color: #000;
}
.right-content {
    position: relative;
}
.room-block .right-content h2 {
    font-size: 2em;
    color: #000;
    font-weight: 500;
}
.room-block .right-content p {
    color: #000;
    font-size: 1.2em;
    font-weight: 500;
}
.right-content .more-info {
    font-size: 1.2em;
    margin-top: 10px;
}
.right-content .more-info a.btn {
    color: #fff;
    font-size: 1.1em;
}
.rooms-top {
    display: block;
    position: relative;
    color: #FFF;
}
.rooms-top h1 {
    font-size: 2.9em;
    color: #FFF;
    margin-bottom: 0;
}
.rooms-top h2 {
    color: #FFF;
    text-shadow: none;
    font-size: 1.5em;
    font-weight: 500;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}
.rooms-top p {
    color: #FFF;
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}
.rooms-top p span.date {
    font-weight: 700;
}
.rooms-top p a {
    text-decoration: underline;
    color: #FFF;
}
.rooms-top p a:hover {
    color: #000;
}
/*Nano Scroller*/

.detail-view {
    height: 550px;
    width: 100%;
    margin: 50px 0;
}
#slidervertical_container .thumbpost {
    top: 0 !important;
}
.list-rooms.nano {
    width: 100%;
    height: 550px;
    overflow: hidden !important;
    margin: 50px 0;
}
.nano > .nano-pane {
    right: 10px;
    width: 15px;
}
.nano > .nano-pane > .nano-slider {
    background: rgb(255, 255, 255);
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(243, 243, 243) 50%, rgb(237, 237, 237) 51%, rgb(255, 255, 255) 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1)
    /* IE6-8 */
}
/*Form Reservation*/

.form-horizontal .form-group {
    margin: 5px 0;
}
.form-control {
    border-color: #000;
    border-radius: 0;
    font-family: 'Dosis', sans-serif;
    font-size: 1.1em;
    color: #000;
}
.form-control:focus {
    border-color: #000;
}
.form-reservation {
    display: block;
    position: relative;
}
/*Group Icon*/

.input-group-addon {
    background: #EDEDED;
    border-color: #000;
    border-radius: 0;
}
.input-group-addon i.fa {
    color: #000;
}
.tri-top-bottom {
    position: relative;
}
.tri-top-bottom:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 19px 0;
    border-color: transparent #EDEDED transparent transparent;
    line-height: 0px;
    _border-color: #000000 #EDEDED #000000 #000000;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
    z-index: 2;
}
.tri-top-bottom:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 19px 15px;
    border-color: transparent transparent #EDEDED transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #EDEDED #000000;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
    content: "";
    bottom: 0;
    left: -15px;
    position: absolute;
    z-index: 2
}
/*select style*/

.select2-drop-active {
    border: 1px solid #000;
    border-top: none;
}
.select2-results .select2-highlighted {
    background: #383838;
    color: #fff;
}
.select-custom {
    position: relative;
    display: block;
    width: 100%;
}
.select2-container {
    padding: 0;
    margin: 0;
    border-radius: 0;
}
.select2-container .select2-choice {
    border-radius: 0;
    border-color: #000;
    background-image: none;
    height: 34px;
    line-height: 34px;
    text-align: left;
}
.select2-container .select2-choice .select2-arrow {
    border-radius: 0;
    background: #EDEDED;
    border: none;
    width: 34px;
}
.select2-container .select2-choice .select2-arrow:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 19px 0;
    border-color: transparent #EDEDED transparent transparent;
    line-height: 0px;
    _border-color: #000000 #EDEDED #000000 #000000;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
    z-index: 2;
}
.select2-container .select2-choice .select2-arrow:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 19px 15px;
    border-color: transparent transparent #EDEDED transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #EDEDED #000000;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
    content: "";
    bottom: 0;
    left: -15px;
    position: absolute;
    z-index: 2
}
.select2-container .select2-choice .select2-arrow b {
    position: relative;
    display: block;
    background: none;
}
.select2-container .select2-choice .select2-arrow b:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
    line-height: 0px;
    _border-color: #000000 #ffffff #ffffff #ffffff;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#ffffff');
    content: "";
    position: absolute;
    top: 15px;
    left: 12px;
}
/*UI WIDGET*/

.ui-widget {
    font-family: 'Dosis', sans-serif !important;
    font-size: 1.1em;
}
.ui-widget tr:nth-child(even) {
    background: #CDA300;
    color: #fff;
}
.ui-widget tr:nth-child(odd) {
    background: #FFF
}
.ui-widget-content tr:nth-child(even) a {
    color: #fff;
    border: none !important;
}
.ui-widget-content tr:nth-child(odd) a {
    color: #000;
}
/* Datepicker */

#ui-datepicker-div {
    padding: 20px !important;
    z-index: 1100 !important;
}
#ui-datepicker-div .ui-datepicker-month, #ui-datepicker-div .ui-datepicker-year {
    color: #5e5e5e;
    font-family: 'Comfortaa', sans-serif !important;
    text-transform: uppercase;
}
.ui-datepicker th {
    font-weight: normal;
}
#ui-datepicker-div table.ui-datepicker-calendar thead tr th span {
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
}
.ui-datepicker-header {
    border-radius: 0 0 0 0 !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
    border: 1px solid #2BB665;
    text-align: center;
}
.ui-state-default:nth-child(odd), .ui-widget-content .ui-state-default:nth-child(odd), .ui-widget-header .ui-state-default:nth-child(odd) {
    border: 1px solid #fff;
}
.ui-state-default:nth-child(even), .ui-widget-content .ui-state-default:nth-child(even), .ui-widget-header .ui-state-default:nth-child(even) {
    border: 1px solid #fff;
}
.ui-datepicker table {
    margin: 0 !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: none
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid;
}
/*User Data*/

.form-horizontal .control-label {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    text-align: left;
    font-size: 1.1em;
    color: #000;
}
.form-horizontal .checkbox-custom {
    display: block;
    color: #000;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
}
a.term-clause {
    color: #C8A200;
}
/*Rooms Detail*/

.content-overview {
    position: relative;
    display: block;
    float: left;
    margin: 20px 0 50px;
    color: #000;
}
.content-overview h2, .content-overview h1 {
    font-size: 2.1em;
    color: #000;
    font-weight: 500;
}
.content-overview p {
    font-weight: 500;
    font-size: 1.2em;
    color: #000;
}
/*List Features*/

ul.list-features {
    padding-left: 0;
}
ul.list-features li:before {
    content: "\e067";
    position: relative;
    display: inline-block;
    margin-right: 10px;
    font-family: 'Glyphicons Halflings';
    color: #000;
}
ul.list-features li {
    font-size: 1.2em;
    color: #000;
    font-weight: 500;
}
/*Tiles*/

.block-tiles {
    position: relative;
    display: block;
}
.tile {
    margin-bottom: 10px;
}
.tile a {
    border: solid thick #000;
    display: block;
    position: relative;
    border-color: transparent;
}
.caption-white {
    background: none repeat scroll 0 0 #fff;
    color: #000;
    left: 98%;
    padding: 10px;
    position: absolute;
    top: 0;
    z-index: 1000;
    display: none;
}
.block-tiles .tile:nth-child(odd) .caption-white {
    left: 98%;
    right: auto;
}
.block-tiles .tile:nth-child(even) .caption-white {
    left: auto;
    right: 98% !important;
}
.caption-wrapper {
    display: block;
    position: relative;
    height: 100%;
}
.caption-wrapper:before {
    background: none repeat scroll 0 0 #fff;
    content: "";
    height: 70%;
    left: -48%;
    position: absolute;
    top: 60%;
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
    -webkit-transform-origin: 0 0 0;
            transform-origin: 0 0 0;
    width: 70%;
    z-index: -1;
    border-radius: 5px;
}
.block-tiles .tile:nth-child(even) .caption-white .caption-wrapper:before{
    background: none repeat scroll 0 0 #fff;
    content: "";
    height: 70%;
    left: 58%;
    position: absolute;
    top: 60%;
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
    -webkit-transform-origin: 0 0 0;
            transform-origin: 0 0 0;
    width: 70%;
    z-index: -1;
    border-radius: 5px;
}
.block-tiles .tile:nth-child(odd) .caption-white .caption-wrapper:before{
    background: none repeat scroll 0 0 #fff;
    content: "";
    height: 70%;
    left: -48%;
    position: absolute;
    top: 60%;
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
    -webkit-transform-origin: 0 0 0;
            transform-origin: 0 0 0;
    width: 70%;
    z-index: -1;
    border-radius: 5px;
}
.caption-white h3 {
    color: #000;
    font-weight: 500;
    font-size: 2em;
}
.caption-white p {
    color: #000;
    font-weight: 500;
    font-size: 1.2em;
}
/*Tables*/

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: none;
    border-bottom: 1px solid #C3C3C3;
}
table.table tr td {
    color: #000;
    font-size: 1.1em;
    font-weight: 500;
    font-family: 'Dosis', sans-serif;
}
table.rt-responsive-table th {
    background: none;
    color: #000;
}
table.rt-responsive-table tr {
    background: none !important;
}
table.rt-responsive-table td, table.rt-responsive-table th {
    border-color: transparent;
}
/*Maps*/

.maps-content {
    min-height: 300px;
    background: #E5E3DF;
}
.additional {
    color: #000;
    position: relative;
    display: block;
}
.additional h2 {
    color: #000;
    font-weight: 500;
}
.additional p {
    color: #000;
    letter-spacing: 0.01em;
    font-weight: 500;
    font-size: 1.2em;
}
/*Gallery*/
.gallery .col-heading {
    color: #fff;
    position: relative;
    display: block;
}
.gallery .col-heading h1 {
    text-transform: uppercase;
    display: block;
    font-size: 2em;
    color: #fff;
}
.gallery .col-heading p, .gallery .text-gallery p {
    display: block;
    color: #FFF;
}
.btn-black {
    background: #000;
    color: #fff;
    border: none;
    padding: 5px 25px;
}
.btn-white {
    color: #000;
    background: #fff;
    border: none;
}

.btn-oldgold{
    background: #CAA300;
    border: solid thin #CAA300;
}

/*Dropdown*/
.dropdown h1{
    font-weight: 500;
}
.dropdown-menu{
    width: 300px;
    background: #FFF;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.176);
    left: 100%;
    top: -2px;
    -webkit-border-radius: 0;
            border-radius: 0;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
.dropdown-menu .form-float{
    position: relative;
    display: block;
    float: left;
}
.dropdown-menu .form-float:before{
    content: " ";
    display: block;
    height: 0;
    left: 100%;
    margin-top: -50px;
    position: absolute;
    top: 21%;
    width: 0;
    z-index: 2;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
@media (min-width: 768px) {
    #footer {
        margin-top: 20px
    }
    ::-webkit-scrollbar {
        width: 8px;
        height: .25em;
        position: absolute
    }
    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.25)
    }
    ::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.0)
    }
    textarea::-webkit-scrollbar {
        width: 1em;
    }
    .navbar-brand {
        margin-left: auto;
        margin-right: auto;
        border-right: none;
    }
    .bg .navbar-brand {
        border-right-color: transparent;
    }
    .navbar-form input {
        transition: width .3s ease-in-out 0s;
    }
    .navbar-form input:focus {
        width: 200px
    }
    .bg-black .navbar-form input {
        background-color: #102030;
        border-color: #314355;
        color: #8e9eae;
    }
    .bg-black .navbar-form input:focus {
        background-color: #fff;
        color: #222;
    }
    .nav-primary>ul>li>.dropdown-menu {
        margin-top: -1px;
        margin-left: 0
    }
    .nav-primary .dropdown-menu {
        background: #fff;
    }
    .nav-vertical>ul>li>a>i {
        display: block;
        font-size: 2em;
        margin: 6px auto
    }
    .nav-vertical>ul>li>a {
        text-align: left;
        border-bottom: none;
        font-size: 1.2em;
        padding-left: 30px;
        padding-right: 30px;
    }
    .nav-vertical.nav-icon>ul>li>a span {
        display: none
    }
    .nav-vertical.nav-icon>ul>li>a i {
        margin: 8px auto;
    }
    .nav-primary.nav-vertical>ul>li>a>.badge {
        position: absolute;
        top: 4px;
        right: 15px;
        font-size: 11px;
        padding: 3px 6px
    }
    #col-vertical {
        position: relative;
        width: 230px;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        bottom: 0;
        border: none;
        background-color: transparent;
        font-size: 11px;
    }
    #col-vertical h1 {
        padding: 0;
        margin: 0;
        padding: 5px 20px;
    }
    #nav {
        display: block;
    }
    #nav a.navbar-brand .col-logo {
        position: relative;
        display: block;
    }
    #nav.bg-light {
        border-color: #bfc7d0
    }
    #nav.nav-vertical {
        width: 100%;
    }
    #main-content {
        padding-left: 0;
        position: relative;
    }
    #main-content .main {
        position: relative;
    }
    .nav-primary.nav-doc>ul>li>a {
        border-bottom: none;
        padding: 3px 20px;
        text-shadow: none;
    }
    .nav-primary .affix {
        top: 0;
        min-width: 149px
    }
    .nav-primary.nav-vertical .affix {
        top: 0;
        min-width: 89px
    }
    .navbar-fixed .nav-primary .nav {
        top: 50px
    }
    .content-sidebar {
        border-bottom: 1px solid #d1d4d7;
        display: table;
        width: 100%;
        border-spacing: 0;
        table-layout: fixed;
    }
    .content-sidebar .sidebar {
        border: 0 solid #d1d4d7;
        border-right-width: 1px;
    }
    .sidebar {
        width: 200px;
        display: table-cell;
        vertical-align: top
    }
    .sidebar-small {
        width: 160px
    }
    .sidebar-large {
        width: 300px
    }
    .main+.sidebar {
        border-right-width: 0;
        border-left-width: 1px
    }
    .modal {
        overflow-y: auto;
    }
    .modal-content {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    }
}
@media screen and (max-width: 1024px) {
    /* Specific to this particular image */
    
    img.bg-cover {
        left: 50%;
        margin-left: -512px
        /* 50% */
    }
}
/*>  HELPER  <*/

.m_t_0 {
    margin-top: 0
}
.m_r_0 {
    margin-right: 0
}
.m_b_0 {
    margin-bottom: 0
}
.m_l_0 {
    margin-left: 0
}
.m_t_5 {
    margin-top: 5px
}
.m_r_5 {
    margin-right: 5px
}
.m_b_5 {
    margin-bottom: 5px
}
.m_l_5 {
    margin-left: 5px
}
.m_t_10 {
    margin-top: 10px
}
.m_r_10 {
    margin-right: 10px
}
.m_b_10 {
    margin-bottom: 10px
}
.m_l_10 {
    margin-left: 10px
}
.m_t_15 {
    margin-top: 15px
}
.m_r_15 {
    margin-right: 15px
}
.m_b_15 {
    margin-bottom: 15px
}
.m_l_15 {
    margin-left: 15px
}
.m_t_20 {
    margin-top: 20px
}
.m_r_20 {
    margin-right: 20px
}
.m_b_20 {
    margin-bottom: 20px
}
.m_l_20 {
    margin-left: 20px
}
.p_t_5 {
    padding-top: 5px
}
.p_r_5 {
    padding-right: 5px
}
.p_b_5 {
    padding-bottom: 5px
}
.p_l_5 {
    padding-left: 5px
}
.p_t_10 {
    padding-top: 10px
}
.p_r_10 {
    padding-right: 10px
}
.p_b_10 {
    padding-bottom: 10px
}
.p_l_10 {
    padding-left: 10px
}
.p_t_15 {
    padding-top: 15px
}
.p_r_15 {
    padding-right: 15px
}
.p_b_15 {
    padding-bottom: 15px
}
.p_l_15 {
    padding-left: 15px
}
.p_t_20 {
    padding-top: 20px
}
.p_r_20 {
    padding-right: 20px
}
.p_b_20 {
    padding-bottom: 20px
}
.p_l_20 {
    padding-left: 20px
}
.p_rl_5 {
    padding-right: 5px;
    padding-left: 5px
}
.p_rl_10 {
    padding-right: 10px;
    padding-left: 10px
}
.p_rl_15 {
    padding-right: 15px;
    padding-left: 15px
}
.p_rl_20 {
    padding-right: 20px;
    padding-left: 20px
}
.m_rl_-5 {
    margin-right: -5px;
    margin-left: -5px
}
.m_rl_5 {
    margin-right: 5px;
    margin-left: 5px
}
.m_rl_10 {
    margin-right: 10px;
    margin-left: 10px
}
.m_rl_15 {
    margin-right: 15px;
    margin-left: 15px
}
.m_rl_20 {
    margin-right: 20px;
    margin-left: 20px
}
.p_tb_5 {
    padding-top: 5px;
    padding-bottom: 5px
}
.p_tb_10 {
    padding-top: 10px;
    padding-bottom: 10px
}
.p_tb_15 {
    padding-top: 15px;
    padding-bottom: 15px
}
.p_tb_20 {
    padding-top: 20px;
    padding-bottom: 20px
}
.m_tb_5 {
    margin-top: 5px;
    margin-bottom: 5px
}
.m_tb_10 {
    margin-top: 10px;
    margin-bottom: 10px
}
.m_tb_15 {
    margin-top: 15px;
    margin-bottom: 15px
}
.m_tb_20 {
    margin-top: 20px;
    margin-bottom: 20px
}
.p_0 {
    padding: 0
}
.p_5 {
    padding: 5px
}
.p_10 {
    padding: 10px
}
.p_15 {
    padding: 15px
}
.p_20 {
    padding: 20px
}
.p_25 {
    padding: 25px
}
.p_30 {
    padding: 30px
}
